{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/styles/register.css') }}" />
{% endblock %}

{% block body %}
    <div class="RegisterPage">

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms, { 'row_attr': { 'class': 'agree' } }) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <a href="/login">Already have an account ?</a>
    </div>
{% endblock %}
